{% extends 'base.html' %}

{% block content %}

{# template: tplSearchSuggestList #}
{% include 'runspot/tpl_search_suggest_list.html' %}

{# template: tplSearchHotelList #}
{% include 'runspot/tpl_search_hotel_list.html' %}

<section id="content">
    <div class="container">
        <div id="c-grid" class="clearfix" data-columns>
        <div id="searchList">
        </div>
        </div>
    </div>
</section>


{% endblock content %}

{% block page_scripts %}
<script type="text/javascript">
$(document).ready(function() {

function searchMain() {
    console.log("Searching main...");
    $.ajax({
        url: "{% url 'autocomplete' %}", 
        method: "GET",
        data: {
            text: $("#mainSearch").val(),
        },
        dataType: "json",
    })
    .done(function(data, txtStatus, jqxhr) {
        var tpl = $("#tplSearchSuggestList").html();
        console.log('Search found!');

        $("#searchList").html(_.template(tpl)({
            items: data
        }));
    })
    .fail(function(jqxhr, txtStatus, error) {
        console.log('Search error!');
        console.error(error);
    });
}


function searchHotels(target, dump) {
    console.log("Searching hotels...");
    $.ajax({
        url: target, 
        method: "GET",
        dataType: "json",
    })
    .done(function(data, txtStatus, jqxhr) {
        var tpl = $("#tplSearchHotelList").html();
        console.log('Search found!');
        console.log(data);

        $("#searchList").html(_.template(tpl)({
            items: data.hotels,
        }));
    })
    .fail(function(jqxhr, txtStatus, error) {
        console.log('Search error!');
        console.error(error);
    });
}

function searchTrails(target, dump) {
    console.log(dump.hotel_id);
    window.open('/hoteltrail/' + dump.hotel_id + '/');
}


/**
 * =============================
 * MAIN EVENT HANDLERS
 * =============================
 */

// Handle main search event
$("#mainSearch").on("keydown", function (event) {
    if (event.keyCode === 13) searchMain();
});


// Handle result list click event
$("#searchList").on("click", "result", function () {
    var el = $(this),
        context = el.data("context"),
        target = el.data("target"),
        dump = el.data("dump");

    console.log(context); 
    console.log(target); 
    console.log(dump); 

    if (context === "suggestList") searchHotels(target, dump);
    if (context === "hotelList") searchTrails(target, dump);
});

});
</script>
{% endblock page_scripts %}
